.mainHead {
font-family: 'Tourney';
    margin : auto ;
    font-size: 80px;
color: rgb(155, 127, 15);
}

.imgHotel {
    width: 90%;
    height: 80%;
}

.paragraph {
    color: rgb(155, 127, 15);
    font-size: 20px;
    font-weight: bold;
    position: relative;
}


.EMPLOYEEinfo img {
    width: 33%;
    height: 33%;
    border-radius: 40%;
}
.EMPLOYEEinfo {
    font-weight: bold;
color: rgb(155, 127, 15);
display: inline-block;
width: 33%;
margin: 20px;
}

.formpage {
    border:5px solid rgb(155, 127, 15) ;
    margin: 20px 20px;
    padding: 20px;
    color:rgb(155, 127, 15) ;
    font-size: 25px;
    width: 40%;
    height:40% ;

}

@media screen and (min-device-width:10px) and (max-device-width:450px) {
    * {
        display: flex;
        flex-direction: column;
   
    }
    
.navbar-brand{ 
    font-size: 100%;
    position: relative;
    bottom: 40px;
}

.imgHotel {
    width: 100% !important;
    height: 100% !important;
    }
    
   
    .formpage {
        width: 100% !important;
        height: 100% !important;
    } 
   

}




 @media all and (max-device-width:1440px) {
    * {
        display: flex;
        flex-direction: column;
    }
    
    .navbar-brand {
    width: 100vw;
        position: relative;
        bottom: 46px;
    }
    
    .imgHotel {
        width: 70%;
        height: 70%;
    }
    

   
    .formpage {
        width: 100% !important;
        height: 100% !important;
    } 

}  

@media all and (max-device-width:800px) {
    * {
        display: flex;
        flex-direction: column;
    }
    
    .navbar-brand {
    
        position: relative;
        bottom: 46px;
    }
    
    .imgHotel {
        width: 70%;
        height: 70%;
    }
    

   
    .formpage {
        width: 100% !important;
        height: 100% !important;
    } 

}  