body {
    background-image: url(./תמונות/black-2398956.jpg);
    background-repeat: no-repeat repeat;
    margin: 0;
    width: 100vw !important;
    text-align: center
}

/* לוגו של עדן */

.navbar-brand {
    margin: 0px;
    padding: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* מרווח בין הגוף לכותרת */

.navbar {
    padding: 0 !important;
}

/* כותרות בנאובר */

.navbar-nav {
    font-weight: bold;
    width: 80vw;
    display: flex;
    /* justify-content: space-evenly; */
}

/* שורת חיפוש */

.d-flex {
    margin-left: 50px;
    height: 40px;
    margin-top: 5px;
}

/* כותרות ספציפיות בnavbar */

.nav-item {
    padding: 16px;
}

/* navbar עיצוב  */

.container-fluid {
    font-size: 18px;
    background-color: rgb(155, 127, 15);
    justify-content: space-between;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* transition: 5s;
    transition-timing-function: 5s; */
}

/* ריחוף מעל הnavbar */

li:hover>a {
    color: #ede6b9 !important;
    font-size: 23px;
}

.gridContainer {
    width: 95vw;
    height: 95vh;
    display: grid;
    color: cornsilk;
    grid-template-areas: ' main main main main' ' main main main main' ' main main main main' ' main main main main' ' mainform mainform mainform mainform' ' mainform mainform mainform mainform' ' mainform mainform mainform mainform' 'sidebar1 footer footer footer footer';
}

.firstvideo {
    width: 90vw;
    height: 400px;
    margin: 20px;
    margin-left: 30px;
    margin-top: 40px;
}

/* ריווח בין החלק הראשון לשני  */

.spacebetween {
    margin: 40px;
}

/* רשימה של המלונות ותמונות  */

.listOfHotels {
    display: flex;
    flex-wrap: wrap;
    padding:30px;
    width: 80%;
margin: 10px;
margin: auto;

}

ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.desingoflist {
    width: 33%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

.desingoflist img {
    border-radius: 10%;
}

.listOfHotels img {
    width: 50%;
    height: 50%;
    border: 2px solid black;
}

.first-section1 {
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.first-section2 {
    color: rgb(155, 127, 15);
    font-size: 30px;
    /* font-weight: bold; */
}

.whatsappbutton {
    background-color: #7ACC72;
    /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 10px !important;
    width: fit-content;
    margin: auto;
    cursor: pointer
}

.whatsappbutton:hover {
    color: #dbdfd3 !important;
    font-size: 16px;
}

.checkInForm {
    color: rgb(155, 127, 15);
    display: inline-block;
    margin: 25px;
    padding: 40px;
    font-size: 25px;
    width: 90vw;
    height: 500px;
    border: 3px solid rgb(155, 127, 15);
}

.asscheckInForm {
    display: inline-block;
}

.mainevents {
    display: flex;
    flex-wrap: wrap;
}

.events {
    background-color: rgb(155, 127, 15);
    color: black;
    width: 33%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px;
    padding: 35px;
    margin-left: auto;
    margin-right: auto;
}

.events img {
    width: 70% !important;
    height: 70% !important;
}

/* לפלאפונים עד גודל מסך  */

@media screen and (min-device-width:10px) and (max-device-width:450px) {
    * {
        display: flex;
        flex-direction: column;
    }
    img {
        width: 100%;
        height: 100%;
    }
    video {
        width: 100%;
        height: 100%;
    }
    .desingoflist {
        margin: auto;
        display: inline-block;
        width: 100%;
        height: 100%;
    }
    .desingoflist img {
        width: 100%;
        height: 100%;
    }
    .checkInForm {
        width: 100% !important;
        height: 100% !important;
    }
    .events {
        margin: auto;
        display: inline-block;
        width: 100% !important;
        height: 100% !important;
    }
}

/* / טאבלט עד 780 */

@media screen and (max-device-width:780px) {
    * {
        display: flex;
        flex-direction: column;
     
    }
    img {
        width: 100%;
        height: 100%;
    }
    video {
        width: 100%;
        height: 100%;
    }
    .desingoflist {
        margin: auto;
        display: inline-block;
        width: 100vw;
        height: 100vw;
    }
    .desingoflist img {
        width: 100%;
        height: 100%;
    }
    .checkInForm {
        width: 100% !important;
        height: 100% !important;
    }
    .events {
        margin: auto;
        display: inline-block;
        width: 100% !important;
        height: 100% !important;
    }
} 


     /* לפטופים קטנים  */
     @media screen and (max-device-width:1100px) {
        * {
            display: flex;
            flex-direction: column;
         } 
         img {
            width: 100%;
            height: 100%;
        }
        video {
            width: 100%;
            height: 100%;
        }
        .desingoflist {
            margin: auto;
            display: inline-block;
            width: 100%;
            height: 100%;
        }
        .desingoflist img {
            width: 100%;
            height: 100%;
        }
        .checkInForm {
            width: 100% !important;
            height: 100% !important;
        }
        .events {
            margin: auto;
            display: inline-block;
            width: 100% !important;
            height: 100% !important;
        }